@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');


/* default  setup */ 
*{
    font-family: 'Kalam', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
h1, h2, h3, h4,h5, h6, span{
    color: #22181C;
    text-align: center;
    line-height:1.25;
} 

p{
    line-height:1.25;
    font-size: 16px;
} 
li{
 list-style-type: none;
}
a{
    text-decoration: none;
    position: relative;
}
/*reusable css*/
.div-flex{
    flex: 1;
    min-height: 100vh;
    display: flex;   
    
}

.big-row{
  width:100%;
  max-width:1200px;
  margin:0 auto;
      
}
.med-row{
    width:100%;
  max-width:800px;
  margin:0 auto;
}
.small-row{
    width:100%;
  max-width:600px;
  margin:0 auto;
}
.container{
    padding: 80px 0;
    
}
.link-hover-effect::after{
content: "";
position: absolute;
height: 4px;
background-color: #5A0001;
width: 0;
bottom: -4px;
right: 0;
transition: all 300ms ease;
}
.link-hover-effect:hover:after{
    width: 100%;
    left: 0;
    

}

.special-color{
color:#F45B69
}

/*NAV BAR */
nav{
    
    height:100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
display: flex;
}

.nav-link-a{
  
    margin: 0px 12px;
    color:#5A0001;
    font-weight: 700;

}
.link-a-primary{
 background-color: #F45B69;
 color: #fff;
 padding: 8px 20px;
 border-radius: 50px;
 transition: all 300ms ease;
}
.link-a-primary:hover{
    background-color: #F13030;
}
.my-logo{
    font-size: 32px;
    font-weight:bold;
    color:#F45B69;
    margin: 0px 12px;
}
/* INTRO */ 

.intro-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.intro-pic-mask{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.16);
}
.intro-pic-me{
    width: 100%;
    transform: translate(-10%, 10%) scale(2);
 
}
.intro-pic-web{
    width: 100%;
}
.intro-container-links{
    display: flex;
    align-items: center;
    padding: 20px;
    
}
.symbol{
    margin: 15px;
    transform:scale(2);
    color:#F13030;
    padding: 0 8px;
    transition: all 300ms ease;
}
.symbol:hover{
    transform:scale(2.5);
    color:#5A0001;
}
/* skills  section */

.skill-background{
    background-color:#F6E8EA ;

}
.list-icons{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.icon{
    width: 50%;
    padding-bottom: 15px;
    scale: 1.3;
    transition: all ease 300ms;
    
}
.icon-title{
    font-size: 32px;
   ;
   opacity: 0%;
   transition: all ease 300ms;
}

.icon-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-group:hover > .icon{
    scale: 1;
}
.icon-group:hover >.icon-title{

 opacity: 100%;
}
/*Projects  section */
.project{
    margin-bottom: 100px;
}
.project:last-child{
    margin-bottom: 40px;
}
.project__img{
width:100%;
transition: all 500ms ease;

}
.project__wrapper{
display:flex;
 box-shadow:0 20px 80px  rgba(0, 0, 0, 0.45) ; 
 border-radius: 20px;
 overflow: hidden;
 position: relative;


}
.project__wrapper:before{
   content:""; 
   position: absolute; 
   top: 0;
   left: 0;
   height: 100%;
   width: 100%; 
   background-color: #1c1d25;
   opacity: 0;
   transition: opacity 450ms ease;
   z-index: 2;

   
   }
   .project:hover .project__wrapper:before{
    opacity: 0.7;
   }
   .project:hover .project__img{
    transform: scale(1.07);
    filter: blur(5px) ;

   }
   .project:hover .project__description{
    opacity: 1;
    transform: translateY(-50%);
   }

.project--group{
padding-top: 60px;
   }
.project__description{
position: absolute;
top: 50%;
left: 90px;
transform: translateY(1000px);
max-width: 550px;
z-index: 3;
opacity: 0;
transition:  transform 450ms, opacity 300ms;

}
.project__description--title{
    font-size: 40px;
}
.project__description--para{
    margin: 16px 0;
}
.project__description--link{
    font-size: 20px;
    margin-right:16px ;
    text-decoration: none;
}

.project__description--title, .project__description--sub-title, .project__description--para,.project__description--link{
    text-align: left;
    color: white;
}
/*Footer */
footer{
    background-color: #F6E8EA;
}
.footer__row{
   padding: 8% 0; 
}
.footer__logo--img{
  width: 140px;
    
}



/*Small phones, tablets, large smartphone */ 
@media (max-width: 768px){
    
} 
/*Small Phones*/
@media (max-width: 480px){
    
}

 